{% block subject %}Resetting your password{% endblock %}

{% block body_text %}
{% autoescape false %}
Dear {{ user.username }},

You can reset your password by accessing {{ confirmationUrl }}

Kind Regards,
Sales
{% endautoescape %}
{% endblock %}

{% block body_html %}
    {% include 'eezeecommerceMailerBundle:Email:password_reset.html.twig' %}
{% endblock body_html %}